<div class="main_container">
        <div class="header">
          <p>Pay at OXXO</p>
          <div class="logo">
            <img src="./assets/oxxo.png" alt="" />
            <img src="./assets/pci.png" alt="" />
          </div>
        </div>
        <div class="contnent_body">
          <div class="first">
            <div class="half">
              <div class="payment_details">
                <p class="title">345 680.99 MXN</p>
                <p class="expiration_title">Expiration date</p>
                <p class="expiration_date">06.12.2023</p>
              </div>
            </div>
            <div class="half">
              <div class="center">
                <img src="./assets/demo_scanner.png" alt="" />
              </div>
            </div>
          </div>
          <div class="second">
            <div class="half">
              <table class="personal-details">
                <tr>
                  <td class="title">Full Name</td>
                  <td class="details">John Doe</td>
                </tr>
                <tr>
                  <td class="title">Email</td>
                  <td class="details">email&#64;email.com</td>
                </tr>
                <tr>
                  <td class="title">Payment ID</td>
                  <td class="details">1234567890</td>
                </tr>
                <tr>
                  <td class="title">Payment Description</td>
                  <td class="details">Cash payment</td>
                </tr>
                <tr>
                  <td class="title">Banco G&T convenience number</td>
                  <td class="details">1234567</td>
                </tr>
                <tr>
                  <td class="title">Bam convenience number</td>
                  <td class="details">12345</td>
                </tr>
              </table>
            </div>
            <div class="half">
              <div class="display_message">
                Dear customer, please note that you need to pay a voucher before
                06.12.2023. The maximum transaction amount at Refacil sales points is
                1 million COP.
              </div>
              <div class="buttons">
                <button class="save">Save</button>
                <button (click)="clickToPrint()" class="print">Print</button>
              </div>
            </div>
          </div>
        </div>
        <p class="copyright">
          <img src="./assets/web_logo.png" alt="" />© 2009 — 2023 Unlimit
        </p>
      </div>
